<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<style>
h1 {text-align: center;}
h6 {text-align: center;}
p {font-size: 20px;}
</style>
<h1>About Us</h1>
<h6><i>for the opinionated cinephile</i></h6>
<hr>
<div class="col display-5">
    <h2>Our Mission</h2>
    <p>The visual media that we consume as a society is indoctrinated with harmful stereotypes concerning marginalized groups, specifically people of color, members of the LGBTQ+ community, and those subjected to gendered social norms. This provides a false and detrimental model for reality, pushing forth various unreasonable and unrealistic expectations and social standards for members of these demographics.</p>
    <p>filmScale aims to provide transparency and statistics regarding any hamrful stereotypes and/or themes that appear in the movies that we consume, as well as creating communication between users to share reviews, opinions, and criticisms on certain films regarding its themes and messages.</p>
<hr>
</div>
{% endblock %}