
{% extends 'base.html' %}

{% block body %}
<body style="background-color:linen; font-family:'Courier New', Courier, monospace;">

<h1>Coffee and Cigarettes</h1>
<hr>
    <img class="left" style="float:left; padding:10px;"src="/static/cigsandcoffee.jpeg">

    <h3><i>Coffee and Cigarettes(2003) dir. by Jim Jarmusch</i></h3>
    <p><i>Copied from wikipedia.com</i><br>
        This 11-vignette film focuses on the human interactions that happen while partaking in the everyday indulgence of coffee and cigarettes. Featuring well-known actors and other artists as themselves or some version thereof, the film highlights the nuances and subtle hostilities that can be a part of seemingly normal conversations. Bill Murray waits on the Wu-Tang Clan, Iggy Pop and Tom Waits get on each others' nerves and Jack and Meg White of the White Stripes discuss Nikola Tesla.</p>
   <a href="https://www.imdb.com/title/tt0379217/"><button>Link to IMDB page</button></a>
</body>
{% endblock %}