
{% extends 'base.html' %}

{% block body %}
<body style="background-color:linen; font-family:'Courier New', Courier, monospace;">

<h1>Cleo from 5 to 7</h1>
<hr>
    <img class="left" style="float:left; padding:10px;"src="/static/cleofrom5to7.jpeg">

    <h3><i>Cleo from 5 to 7(1962) dir. by Agnes Varda</i></h3>
    <p><i>Copied from wikipedia.com</i><br>Selfish pop singer Cléo (Corinne Marchand) has two hours to wait until the results of her biopsy come back. After an ominous tarot card reading, she visits her friends, all of whom fail to give her the emotional support she needs. Wandering around Paris, she finally finds comfort talking with a soldier in a park. On leave from the Algerian War, his troubles put hers in perspective. As they talk and walk, Cléo comes to terms with her selfishness, finding peace before the results come back.</p>
   <a href="https://www.imdb.com/title/tt0055852/"><button>Link to IMDB page</button></a>
</body>
{% endblock %}