{% extends 'base.html' %}

{% block body %}
<body style="background-color: rgb(237, 228, 219); font-family:'Courier New', Courier, monospace;">
<h1 style="text-align:center; color:rgba(93, 31, 17, 0.906);"><b>filmScale</b></h1>
<p style="text-align: center;"><i>for the opinionated cinephile</i></p>
<hr>
<br>
<h4 style="text-align: center;">Like to watch films? Log in your opinions here</h4>
<a href="/post/new" class="btn btn-primary btn-sm mt-5" style="background-color:brown; text-align:center;"role="button">New Post</a>
<h3>Our mission</h3>
<img src="/static/proposaleSlide.png" width = 500 height = 400>
</body>
{% endblock %}