<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<body style="background-color: linen; font-family: 'Courier New', Courier, monospace;">
<h1>Movies</h1>
<hr>
<div class="col display-5">
    <p>Every movie logged in thus far</p>
 <div class="row">
     <div class="column">
        <img src="rocks.jpg" alt="photo">
        <img src="falls2.jpg" alt="photo">
        <img src="paris.jpg" alt ="photo">
        <img src="nature.jpg" alt="photo">
        <img src="mist.jpg" alt="photo">
        <img src="paris.jpg" alt="photo">
    </div>
    <div class="column">
        <img src="underwater.jpg" alt="photo">
        <img src="ocean.jpg" alt="photo">
        <img src="wedding.jpg" alt="photo">
        <img src="mountainskies.jpg" alt="photo">
        <img src="rocks.jpg" alt="photo">
        <img src="underwater.jpg" alt="photo">
    </div>
    <div class="column">
        <img src="wedding.jpg" alt="photo">
        <img src="rocks.jpg" alt="photo">
        <img src="falls2.jpg" alt="photo">
        <img src="paris.jpg" alt="photo">
        <img src="nature.jpg" alt="photo">
        <img src="mist.jpg" alt="photo">
        <img src="paris.jpg" alt="photo">
    </div>
    <div class="column">
        <img src="underwater.jpg" alt="photo">
        <img src="ocean.jpg" alt="photo">
        <img src="wedding.jpg" alt="photo">
        <img src="mountainskies.jpg" alt="photo">
        <img src="rocks.jpg" alt="photo">
        <img src="underwater.jpg" alt="photo">
    </div>
    </div>  
</div>
</body>
{% endblock %}