<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<h1>Movies</h1>
<div class="col display-5">
    <p>Every movie logged in thus far</p>
 <div class="row">
     <div class="column">
        <img src="wedding.jpg">
        <img src="rocks.jpg">
        <img src="falls2.jpg">
        <img src="paris.jpg">
        <img src="nature.jpg">
        <img src="mist.jpg">
        <img src="paris.jpg">
    </div>
    <div class="column">
        <img src="underwater.jpg">
        <img src="ocean.jpg">
        <img src="wedding.jpg">
        <img src="mountainskies.jpg">
        <img src="rocks.jpg">
        <img src="underwater.jpg">
    </div>
    <div class="column">
        <img src="wedding.jpg">
        <img src="rocks.jpg">
        <img src="falls2.jpg">
        <img src="paris.jpg">
        <img src="nature.jpg">
        <img src="mist.jpg">
        <img src="paris.jpg">
    </div>
    <div class="column">
        <img src="underwater.jpg">
        <img src="ocean.jpg">
        <img src="wedding.jpg">
        <img src="mountainskies.jpg">
        <img src="rocks.jpg">
        <img src="underwater.jpg">
    </div>
    </div>  
</div>
{% endblock %}