{% extends "base.html" %}

{% block body %}
        <h1></h1>

        <form method=post>
            {{ form.hidden_tag() }}
            <p>
                {{ form.title.label }} <br>
                {{ form.title(size=64) }}
                <!--List the errors for this field-->
                {% for error in form.title.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.director.label }} <br>
                {{ form.director() }}
                <!--List the errors for this field-->
                {% for error in form.director.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.genre.label }} <br>
                {{ form.genre() }}
                <!--List the errors for this field-->
                {% for error in form.genre.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.review.label }} <br>
                {{ form.review(cols=64, rows=10) }}
                <!--List the errors for this field-->
                {% for error in form.review.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.rating.label }} <br>
                {{ form.rating() }}
                <!--List the errors for this field-->
                {% for error in form.rating.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{form.submit()}}
            </p>
        </form>
        
{% endblock %}
